<%= link_to "All Trainers", "/trainers" %>
<%= link_to "All Pokemons", "/pokemons" %>
<%= link_to "Create Pokemon", "/trainers/#{@trainer.id}/pokemons/new" %>
<%= link_to "Sort by Name", "/trainers/#{@trainer.id}/pokemons?order=name" %>
<%# /parents/:parent_id/children?order=name %>
<% @pokemons.each do |pokemon|%>
  <h3><%= "Name: #{pokemon.name}"%></h3>
  <p><%= "Type: #{pokemon.pokemon_type}"%></p>
  <p><%= "Level: #{pokemon.level}"%></p>
  <p><%= "Hit Points: #{pokemon.hit_points}"%></p>
  <p><%= "Attack: #{pokemon.attack}" %></p>
  <p><%= "Defense: #{pokemon.defense}" %></p>
  <p><%= "Speed: #{pokemon.speed}" %></p>
  <p><%= "Special: #{pokemon.special}" %></p>
  <p><%= "Trainer ID: #{pokemon.trainer_id}" %></p>
  <p><%= "In Team: #{pokemon.in_team}" %></p>
<% end %>