<% @pokemons.each do |pokemon|%>
  <h3><%= "Name: #{pokemon.name}"%></h3>
  <p><%= "Type: #{pokemon.pokemon_type}"%></p>
  <p><%= "Level: #{pokemon.level}"%></p>
  <p><%= "Hit Points: #{pokemon.hit_points}"%></p>
  <p><%= "Attack: #{pokemon.attack}" %></p>
  <p><%= "Defense: #{pokemon.defense}" %></p>
  <p><%= "Speed: #{pokemon.speed}" %></p>
  <p><%= "Special: #{pokemon.special}" %></p>
  <p><%= "Trainer ID: #{pokemon.trainer_id}" %></p>
  <p><%= "In Team: #{pokemon.in_team}" %></p>
  <%= link_to "Update #{pokemon.name}", "/pokemons/#{pokemon.id}/edit" %>
  <%= link_to "Delete #{pokemon.name}", "/pokemons/#{pokemon.id}/", method: :delete %>
<% end %>