<%= link_to "New Trainer", "/trainers/new" %>

<% @trainers.each do |trainer|%>
  <h3><a href="/trainers/<%= trainer.id %>"><%= "Name: #{trainer.name}"%></a></h3>
  <p><%= "Badges: #{trainer.badges}"%></p>
  <p><%= "Full Team: #{trainer.full_team_of_six}"%></p>
  <p><%= "Created: #{trainer.created_at}"%></p>
  <%= link_to "Update #{trainer.name}", "/trainers/#{trainer.id}/edit" %>
  <%= link_to "Delete #{trainer.name}", "/trainers/#{trainer.id}", method: :delete %>
<% end %>