<%= link_to "All Trainers", "/trainers" %>
<%= link_to "All Pokemons", "/pokemons" %>
<% @trainers.each do |trainer|%>
  <h3><%= "Name: #{trainer.name}"%></h3>
  <p><%= "Badges: #{trainer.badges}"%></p>
  <p><%= "Full Team of Six: #{trainer.full_team_of_six}"%></p>
  <p><%= "Created: #{trainer.created_at}"%></p>
<% end %>