<%= link_to "All Trainers", "/trainers" %>
<%= link_to "All Pokemons", "/pokemons" %>
<%= link_to "All Trainer's Pokemons", "/trainers/#{@trainer.id}/pokemons" %>
<p><%= @trainer.name %></p>
<p>Badges: <%= @trainer.badges %></p>
<p>Full Team: <%= @trainer.full_team_of_six %></p>
<p>Pokemons Count: <%= @trainer.pokemons_count%></p>
<%= link_to "Update Trainer", "/trainers/#{@trainer.id}/edit" %>
<%= link_to "Delete #{@trainer.name}", "/trainers/#{@trainer.id}", method: :delete %>

